// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/styles/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";

.nightsquad-package {
	height: 20%;
}

.nightsquad-package .connectButton{
	margin: auto;
	margin-bottom: 20px;
	display: block;
	width: 50%;
	height: 15%;
	background-color: #ff5252;
	border: 0;
	font-weight: bold;
	text-transform: uppercase;
	font-family: "Futura PT", Futura, Helvetica, "Sans serif";
}

.nightsquad-package .logo{
	height: 80%;
	margin: auto;
	display: block;
}

.avatar {
	max-height: 100%;
	max-width: 100%;
	border-radius: 100%;
}


atom-pane-container{
	flex-direction: column;
}
